@model ActionResultVM
@{
    ViewData["Title"] = "验证";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 py-5 text-center">
            @if (Model.code == 200)
            {
                <span class="badge badge-success py-3 px-3 fa-lg">@Model.msg</span>
            }
            else
            {
                <span class="badge badge-danger py-3 px-3 fa-lg">@Model.msg</span>
            }
        </div>
    </div>
</div>