@{
    ViewData["Title"] = "文章管理";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <button class="btn btn-warning btn-sm" id="btnEdit">编辑</button>
                </div>
                <div class="input-group-prepend">
                    <button class="btn btn-danger btn-sm" id="btnDel">删除</button>
                </div>
                <input class="form-control" type="text" id="txtSearch" placeholder=" Search , Enter" />
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-info" id="btnSearch">搜索</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="PGrid1">
                <div id="Grid1" class="loadingimg"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="ModalWrite" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-body modalscroll" id="ModalWriteBody">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">标题</span>
                            </div>
                            <input class="form-control" type="text" id="wtitle" placeholder=" 标题：简单的一句话 " />
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-warning" id="btnSaveEdit" title="Ctrl + S 快捷保存">
                                    <i class="fa fa-fw fa-save"></i>保存
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="form-group">
                            <select class="form-control" id="wcategory">
                                <option value="0">默认分类</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-8">
                        <div class="form-group">
                            <div class="form-control tags-box">
                                <input type="text" name="tags" id="tags" placeholder=" 标签，如：html，可选 3 个标签 " data-tagscommon="@ViewBag.TagsCommon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div id="mdeditor"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_PartialQuote" model="@("netnrmd.css,netnrmd.js,monaco-editor,easyui.css,easyui.js")" />

<link href="/lib/tag/tag.css" rel="stylesheet" asp-append-version="true" />
<script src="/lib/tag/tag.js" asp-append-version="true"></script>

<script src="/js/home/write.js" asp-append-version="true"></script>
<script src="/js/user/write.js" asp-append-version="true"></script>