@model string
@{
    var listQuote = Model.Split(',').ToList();
}
@foreach (var item in listQuote)
{
    switch (item)
    {
        case "fa.css":
            <link href="https://code.bdstatic.com/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
            break;

        case "jquery.js":
            <script src="https://code.bdstatic.com/npm/jquery@3.4.1/dist/jquery.min.js"></script>
            break;

        case "bootstrap.css":
            <link href="https://code.bdstatic.com/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet" />
            break;

        case "bootstrap.js":
            <script src="https://code.bdstatic.com/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
            break;

        case "jz.js":
            <script src="https://code.bdstatic.com/npm/jzjs@2.0.2/2.0.2/jz.min.js"></script>
            break;

        case "netnrmd.css":
            <link href="https://code.bdstatic.com/npm/netnrmd@2.2.3/src/netnrmd.css" rel="stylesheet" />
            break;

        case "netnrmd.js":
            <script src="https://code.bdstatic.com/npm/netnrmd@2.2.3/src/netnrmd.bundle.min.js"></script>
            break;

        case "netnrnav.css":
            <link href="https://code.bdstatic.com/npm/netnrnav@1.1.0/src/netnrnav.css" rel="stylesheet" />
            break;

        case "netnrnav.js":
            <script src="https://code.bdstatic.com/npm/netnrnav@1.1.0/src/netnrnav.js" defer async></script>
            break;

        case "md5.js":
            <script src="https://code.bdstatic.com/npm/blueimp-md5@2.11.0/js/md5.min.js"></script>
            break;

        case "global.css":
            <link href="/css/global.css" rel="stylesheet" asp-append-version="true" />
            break;

        case "global.js":
            <script src="/js/global.js" asp-append-version="true"></script>
            break;

        case "favicon":
            <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
            break;

        case "seo":
            <meta name="keywords" content="Guff,尬服,尬服乐天地" />
            <meta name="description" content="Guff,尬服,尬服乐天地" />
            break;

        case "the":
            <!--
            https://github.com/netnr
            https://gitee.com/netnr
            https://www.netnr.com
            https://zme.ink
            -->
            break;

        case "loading":
            <div id="LoadingMask" style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: white; z-index: 19999; background-image:url('//static.netnr.com/static/loading.svg');background-repeat:no-repeat;background-position:49% 49%"></div>
            break;
    }
}