@{
    ViewData["Title"] = "FAQ";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4>源码</h4>
            <p><a href="https://github.com/netnr">https://github.com/netnr</a></p>
            <h4>运营</h4>
            <p>
                完善信息后才能发布内容<br />
                自由的新增、修改、删除发布内容<br />
                不能编辑、删除回复内容<br />
                不定时清理无意义、非法内容<br />
            </p>
            <h4>维护</h4>
            <p>
                不定时备份到镜像只读站点
                <a href="https://www.netnr.eu.org">https://www.netnr.eu.org</a>
            </p>
        </div>
    </div>
</div>