<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FileServer</title>

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="/lib/jquery/jquery.min-3.3.1.js" asp-append-version="true"></script>

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
