.form-control:focus {
    box-shadow: none;
}

@media (min-width: 1666px) {
    .col-xxl-2, .col-ll-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

.ndnav a {
    text-decoration: none;
}
