@{
    ViewData["Title"] = "FAQ";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>源码</h3>
            <p><a href="https://github.com/netnr/blog">https://github.com/netnr/blog</a><br><a href="https://gitee.com/netnr/blog">https://gitee.com/netnr/blog</a></p>
            <h3>尬服是什么</h3>
            <p>尬服，亦或是名言让人信服，亦或是有趣的人或事让人折服</p>
            <h3>可以做什么</h3>
            <p>你可以分享让人尬服的人或事</p>
            <h3>注意什么</h3>
            <p>热爱祖国，遵纪守法；不要发布侵权、攻击性、不良性等坏坏的信息</p>
        </div>
    </div>
</div>