@{
    ViewData["Title"] = "实验室";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="mb-3 mr-3" href="/lab/speech">语音合成</a>
            <a class="mb-3 mr-3" href="/lab/ocr">文字识别(OCR)</a>
        </div>
    </div>
</div>