@{
    ViewData["Title"] = "记事本";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <button class="btn btn-primary btn-sm" id="btnAdd">新增</button>
                </div>
                <div class="input-group-prepend">
                    <button class="btn btn-warning btn-sm" id="btnEdit">编辑</button>
                </div>
                <div class="input-group-prepend">
                    <button class="btn btn-danger btn-sm" id="btnDel">删除</button>
                </div>
                <input class="form-control" type="text" id="txtSearch" placeholder=" Search , Enter" />
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-info" id="btnSearch">搜索</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="PGrid1">
                <div id="Grid1" class="loadingimg"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="ModalNote" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-body modalscroll" id="ModalNoteBody">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">标题</span>
                            </div>
                            <input class="form-control" type="text" id="NoteTitle" placeholder=" 标题：简单的一句话 " />
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-warning" id="btnSave" title="Ctrl + S 快捷保存">
                                    <i class="fa fa-fw fa-save"></i>保存
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div id="mdeditor"></div>
                    </div>
                    <div class="col-sm-12 small text-muted">
                        <span id="spwordcount" class="mr-3">共 <b>0</b> 个字</span>
                        <span id="sptimeinfo"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_PartialQuote" model="@("netnrmd.css,netnrmd.js,monaco-editor,easyui.css,easyui.js")" />

<script src="/js/note/index.js" asp-append-version="true"></script>