/* 标签导航条 */
.navtag {
    position: relative;
    margin-bottom: 1.5rem;
}

    .navtag .nav {
        height: 40px;
        overflow: hidden;
        margin-right: 40px;
    }

        .navtag .nav li {
            float: left;
            padding: .5rem .8rem;
        }

            .navtag .nav li:first-child {
                padding-left: 0;
            }

    .navtag a {
        white-space: nowrap;
        text-decoration: none;
        padding-bottom: .2rem;
        border-bottom: 3px solid transparent;
    }

        .navtag a:hover {
            border-bottom-color: #009a61;
            transition: border-bottom-color .5s;
        }

        .navtag a.gotag {
            position: absolute;
            top: .5rem;
            right: 0;
        }


/*文章列表*/
.uw-box .uw-item {
    position: relative;
    border-bottom: 1px solid #ece9e1;
    border-right: 1px solid #ece9e1;
    border-left: 4px solid #ece9e1;
}

    .uw-box .uw-item:first-child {
        border-top: 1px solid #ece9e1;
    }

    .uw-box .uw-item:hover {
        background-color: #f8fcfe;
        border-left-color: #009a61;
    }

    .uw-box .uw-item .wtitle {
        margin-right: 40px;
        padding-bottom: 8px;
    }

    .uw-box .uw-item .uw-emoji * {
        position: absolute;
        top: 17px;
        right: 3px;
        max-width: 28px;
        max-height: 28px;
    }

        .uw-box .uw-item .uw-emoji *:hover {
            transition: transform 1.5s;
            transform: rotate(360deg);
        }

/*标签统计*/
.tagcount a {
    padding: 9px 9px;
    border-left: 2px solid #ddd;
}

    .tagcount a:hover {
        text-decoration: none;
        background-color: #f8fcfe;
        border-left-color: #009a61;
    }

    .tagcount a span {
        float: right;
        font-size: .9rem;
    }

/*搜索高亮*/
.skh {
    color: #D0021B;
    font-weight: 500;
}

/*昵称*/
a.uid {
    color: #009a61;
}

/*头像*/
img.imgup {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 0 1px #777;
}

/*一篇*/
.uwo-box .uwo-title a {
    color: #333;
    font-size: 26px;
    font-weight: 500;
}

.uwo-box .uwo-content {
    word-break: break-all;
    word-wrap: break-word;
}

.uwo-box * {
    max-width: 100% !important;
}

.uwo-box pre {
    overflow: initial;
    font-size: inherit;
    background-color: #f8f8f8;
}

.uwo-box .uwo-reply .uwo-reply-item {
    border-bottom: 1px solid #ddd;
}

    .uwo-box .uwo-reply .uwo-reply-item:first-child {
        border-top: 1px solid #ddd;
    }

/*显示部分*/
.display-section {
    overflow: hidden;
    overflow-y: auto;
    max-height: 460px;
    padding: 5px 15px;
    border: 1px dashed transparent;
    transition: max-height .5s linear 0.1s;
}

    .display-section:hover {
        border-color: #ddd;
    }
