/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    border-radius: 4px;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #28a745;
}

.navbar {
    z-index: 9;
}

.bg-vs {
    background-color: #f8f9fa;
}

.bg-vs-dark {
    background-color: #1e1e1e;
}

.bg-hc-black {
    background-color: #000;
}

.navbar-dark #setheme {
    background-color: #343a40;
    color: rgba(255,255,255,.5);
}

.navbar-light #setheme {
    background-color: #f8f9fa;
}

.runsub {
    position: absolute;
    left: 0;
    top: 56px;
    bottom: 0;
    width: 180px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

    .runsub .runsubc {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        width: 6px;
        cursor: pointer;
    }

        .runsub .runsubc:hover {
            background-color: rgba(221, 221, 221, .5);
        }

    .runsub .card-header {
        padding: 5px 8px;
    }

    .runsub .card-body {
        padding: 0;
    }

    .runsub .bg-dark * {
        color: #a7a7a7;
    }

    .runsub .card-body textarea {
        resize: none;
        height: 150px;
        background-color: inherit;
    }

    .runsub .card-body input {
        resize: none;
        background-color: inherit;
    }

.runsub-fold {
    width: 7px;
    overflow: hidden;
}

.rune {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 56px;
    left: 180px;
    border-top: 1px solid #ddd;
}

.rune-fold {
    left: 7px;
}

.rune-full {
    top: 0;
    left: 0;
    z-index: 10;
}

.rune-full-pre {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 2 !important;
    width: 100% !important;
    height: 100% !important;
}

.rune > pre {
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 62%;
    overflow: hidden;
    margin: 0 !important;
}

    .rune > pre.re2 {
        top: 38%;
        border-top: 1px solid #ddd;
    }

    .rune > pre.re3 {
        left: 50%;
        border-left: 1px solid #ddd;
    }

    .rune > pre.re4 {
        top: 38%;
        left: 50%;
        background-color: white;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }

        .rune > pre.re4 iframe {
            position: absolute;
            border: none;
            height: 100%;
            width: 100%;
        }

.rune .fre {
    position: absolute;
    padding: 3px 5px;
    font-size: 12px;
    right: 10px;
    z-index: 2;
    top: 5px;
}

    .rune .fre i {
        vertical-align: middle;
    }

.rld .card-body {
    position: relative;
    height: 310px;
    padding: 0;
}

    .rld .card-body:hover .rldc {
        display: block;
    }

.rld .card-footer {
    padding: 5px;
}

.rld iframe {
    position: absolute;
    height: 100%;
    width: 100%;
}

.rldc {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding-top: 115px;
    text-align: center;
    border-radius: 3px 3px 0 0;
    background-color: rgba(255, 255, 255, .8);
}

    .rldc a {
        color: #777;
        margin: 0 5%;
        font-size: 3em;
    }
