.note-list, .note-edit {
    border: 1px solid #009a61;
    overflow: hidden;
    height: 440px;
}

    .note-list #noteTitle {
        border: 1px solid transparent;
        border-top: 1px solid #009a61;
        overflow-y: auto;
        height: 384px;
    }

.ulNote {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 35px;
}

    .ulNote li {
        border-top: 1px solid #009a61;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        text-indent: 5px;
        cursor: pointer;
    }

        .ulNote li:hover {
            background-color: #eeeeee;
        }

        .ulNote li:first-child {
            border-top: none;
        }

        .ulNote li .deleteCss {
            position: absolute;
            font-weight: 400;
            font-size: 32px;
            color: #a94442;
            display: none;
            right: 3px;
        }

        .ulNote li:hover .deleteCss {
            display: inline-block;
        }

.divContent {
    height: 352px;
    margin: 10px 5px 0;
}

    .divContent textarea {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
    }

#notedetail {
    color: #777777;
    padding: 0 5px;
    border-top: 1px solid #009a61;
}
