@{
    ViewData["Title"] = "日志";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-2">
            <div id="Grid1" class="loadingimg"></div>
        </div>
    </div>
</div>

<partial name="_PartialQuote" model="@("easyui.css,easyui.js")" />

<script src="/js/admin/log.js" asp-append-version="true"></script>