@{
    ViewData["Title"] = "NetnrDoc";
}

<link href="/areas/doc/css/home/index.css" rel="stylesheet" asp-append-version="true" />

<div id="carousend" class="carousel slide ndcar" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousend" data-slide-to="0" class="active"></li>
        <li data-target="#carousend" data-slide-to="1"></li>
        <li data-target="#carousend" data-slide-to="2"></li>
        <li data-target="#carousend" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner text-white">
        <div class="carousel-item bg-success active">
            <h1><i class="fa fa-book fa-2x"></i></h1>
            <h1 class="my-4">NetnrDoc</h1>
            <h4>一个在线API文档、技术文档工具</h4>
            <div class="mt-5">
                <a href="/doc/code/5036967707833574483" class="btn btn-light mx-4">API文档</a>
                <a href="/doc/code/4840050256984581805" class="btn btn-light mx-4">数据字典</a>
            </div>
        </div>
        <div class="carousel-item bg-info">
            <h1><i class="fa fa-plug fa-2x"></i></h1>
            <h1 class="my-4">API文档</h1>
            <h4>
                APP、web前端与服务器常用API来进行交互
            </h4>
            <h4>
                用NetnrDoc可以非常方便快速地编写出美观的API文档
            </h4>
        </div>
        <div class="carousel-item bg-dark">
            <h1><i class="fa fa-table fa-2x"></i></h1>
            <h1 class="my-4">数据字典</h1>
            <h4>
                好的数据字典可以很方便地向别人描述你的数据库结构
            </h4>
            <h4>
                用NetnrDoc可以编辑出美观的数字字典
            </h4>
        </div>
        <div class="carousel-item bg-secondary">
            <h1><i class="fa fa-file-text fa-2x"></i></h1>
            <h1 class="my-4">说明文档</h1>
            <h4>
                你完全可以使用 NetnrDoc来编写一些工具的说明书
            </h4>
            <h4>
                也可以编写一些技术规范说明文档以供团队查阅
            </h4>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousend" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousend" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<script>
    $(window).on('load resize', function () {
        $('#carousend').find('.carousel-item').css('padding-top', $(window).height() / 2 - 140);
    });
</script>