@{
    ViewData["Title"] = "完善信息";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center my-5">
            <p><img src="/images/smile.svg" /></p>
            <p>完善信息后才能继续</p>
            <p class="text-danger">验证邮箱、填写昵称</p>
            <p>前往 <a href="/user/setting">个人设置</a></p>
        </div>
    </div>
</div>