@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>页面出错 @GlobalTo.GetValue("Common:ChineseName")</title>
</head>
<body>
    <center>
        <h1>ERROR</h1>
        <img src="/images/smile.svg" />
    </center>
</body>
</html>