@{
    ViewData["Title"] = "完善验证";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center my-5">
            <img src="/images/smile.svg" />
            <h5 class="text-danger my-3">请验证邮箱</h5>
            <p>前往 <a href="/user/setting">个人设置</a></p>
        </div>
    </div>
</div>