@{
    ViewData["Title"] = "关于";

    var rtd = Math.Ceiling((DateTime.Now - new DateTime(2015, 5, 1)).TotalDays);
}

@Html.AntiForgeryToken()

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" id="hid_rt" value="@rtd" />
            <div id="divAs">
                <img src="/images/loading.svg" />
            </div>
        </div>
    </div>
</div>

<script src="/js/mix/about.js" asp-append-version="true"></script>