@{
    ViewData["Title"] = "FAQ";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>源码</h3>
            <p><a href="https://github.com/netnr/blog">https://github.com/netnr/blog</a><br><a href="https://gitee.com/netnr/blog">https://gitee.com/netnr/blog</a></p>
            <h3>发文要求</h3>
            <p>为避免一些水文，需要验证邮箱后才能操作</p>
            <h3>文章的管理</h3>
            <p>你可以自由的新增、修改、删除</p>
            <h3>回复的信息</h3>
            <p>你不能编辑、删除</p>
        </div>
    </div>
</div>