@{
    ViewData["Title"] = "日志";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-2">
            <div id="Grid1" class="loadingimg"></div>
        </div>
    </div>
</div>

<link href="/lib/jquery-easyui/themes/default/easyui.css" rel="stylesheet" asp-append-version="true" />
<script src="/lib/jquery-easyui/jquery.easyui.min.js" asp-append-version="true"></script>

<script src="/js/z.js" asp-append-version="true"></script>

<script src="/js/mix/log.js" asp-append-version="true"></script>