@model string
@{
    var listQuote = Model.Split(',').ToList();
}
@foreach (var item in listQuote)
{
    switch (item)
    {
        case "fa.css":
            <link href="https://code.bdstatic.com/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet" async>
            break;

        case "jquery.js":
            <script src="https://code.bdstatic.com/npm/jquery@3.4.1/dist/jquery.min.js"></script>
            break;

        case "bootstrap.css":
            <link href="https://code.bdstatic.com/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet" async>
            break;

        case "bootstrap.js":
            <script src="https://code.bdstatic.com/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
            break;

        case "jz.js":
            <script src="https://code.bdstatic.com/npm/jzjs@2.0.2/2.0.2/jz.min.js"></script>
            break;

        case "easyui.css":
            <link href="https://cdn.jsdelivr.net/gh/netnr/cdn/libs/jquery-easyui/1.9.0/themes/metro/easyui.css" rel="stylesheet" />
            <link href="/lib/jquery-easyui-z/z.css" rel="stylesheet" asp-append-version="true" />
            break;

        case "easyui.js":
            <script src="https://cdn.jsdelivr.net/gh/netnr/cdn/libs/jquery-easyui/1.9.0/jquery.easyui.min.js"></script>
            <script src="/lib/jquery-easyui-z/z.js" asp-append-version="true"></script>
            break;

        case "netnrmd.css":
            <link href="https://code.bdstatic.com/npm/netnrmd@2.2.3/src/netnrmd.css" rel="stylesheet" />
            break;

        case "netnrmd.js":
            <script src="https://code.bdstatic.com/npm/netnrmd@2.2.3/src/netnrmd.bundle.min.js"></script>
            break;

        case "netnrnav.css":
            <link href="https://code.bdstatic.com/npm/netnrnav@1.1.0/src/netnrnav.css" rel="stylesheet" />
            break;

        case "netnrnav.js":
            <script src="https://code.bdstatic.com/npm/netnrnav@1.1.0/src/netnrnav.js" defer async></script>
            break;

        case "md5.js":
            <script src="https://code.bdstatic.com/npm/blueimp-md5@2.11.0/js/md5.min.js"></script>
            break;

        case "monaco-editor":
            <script src="https://code.bdstatic.com/npm/monaco-editor@0.20.0/min/vs/loader.js"></script>
            <script>
                require.config({
                    paths: { vs: "https://code.bdstatic.com/npm/monaco-editor@0.20.0/min/vs" },
                    'vs/nls': { availableLanguages: { '*': 'zh-cn' } }
                });
            </script>
            break;

        case "seo":
            <meta name="keywords" content="netnr,NET牛人,Gist,Run,Doc,Draw" />
            <meta name="description" content="netnr,NET牛人,Gist,Run,Doc,Draw" />
            break;

        case "the":
            <!--
            https://github.com/netnr
            https://gitee.com/netnr
            https://www.netnr.com
            https://zme.ink
            -->
            break;

        case "loading":
            <div id="LoadingMask" style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: white; z-index: 19999; background-image:url('/images/loading.svg');background-repeat:no-repeat;background-position:49% 49%"></div>
            break;

        case "fun.js":
            <script src="/js/fun.js" asp-append-version="true" async defer></script>
            break;
    }
}