<div class="border-top mt-5">
    <div class="container">
        <div class="row my-4">
            <div class="col-md-12">
                <h5 class="text-muted">链接</h5>
                <a class="mr-2" href="https://netnr.top">netnr.top</a>
                <a class="mr-2" href="https://uuid.fun" title="一个基于Git的书签托管">uuid.fun</a>
                <a class="mr-2" href="https://ss.netnr.com/message" title="匿名留言">留言</a>
                <a class="mr-2" target="_blank" href="https://ss.netnr.com/contact" title="联系打赏">联系</a>
                <a class="mr-2" target="_blank" href="https://www.jscss.cc/">前端笔记</a>
            </div>
        </div>
        <div class="my-3 small text-muted">
            <a class="text-muted" href="//dot.net">Powered by @Microsoft.Extensions.DependencyModel.DependencyContext.Default.Target.Framework</a>
            <span class="mx-3">&copy; Netnr @DateTime.Now.Year</span>
            <a class="text-muted" href="/mix/terms">条款</a>
        </div>
    </div>
</div>