<div class="border-top mt-5">
    <div class="container">
        <div class="row my-4">
            <div class="col-md-12">
                <h5 class="text-muted">链接</h5>
                <a class="mr-2 text-nowrap" href="https://netnr.top">netnr.top</a>
                <a class="mr-2 text-nowrap" href="https://uuid.fun" title="一个基于Git的书签托管">书签</a>
                <a class="mr-2 text-nowrap" href="https://guff.ltd" title="分享有趣的人或事">尬服</a>
                <a class="mr-2 text-nowrap" target="_blank" href="https://www.jscss.cc" title="GitHub：svon">前端笔记</a>
                <a class="mr-2 text-nowrap" target="_blank" href="https://masuit.com" title="GitHub：ldqk">懒得勤快</a>
                <a class="mr-2 text-nowrap" target="_blank" href="https://dotnet9.com" title="GitHub：dotnet9">Dotnet9</a>
                <a class="mr-2 text-nowrap" href="https://ss.netnr.com/message" title="匿名留言">留言</a>
                <a class="mr-2 text-nowrap" target="_blank" href="https://ss.netnr.com/contact" title="联系打赏">联系</a>
                <a class="mr-2 text-nowrap" target="_blank" href="https://api.zme.ink" title="基于Cloudflare Workers提供的免费服务">API</a>
            </div>
        </div>
        <div class="my-3 small text-muted">
            <a class="text-muted" href="//dot.net">Powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</a>
            <span class="mx-2">&copy; Netnr @DateTime.Now.Year</span>
            <a class="text-muted text-nowrap" href="/mix/terms">Terms</a>
            <a class="text-muted text-nowrap mx-2" href="/mix/faq">FAQ</a>
            <a class="text-muted text-nowrap" href="http://beian.miit.gov.cn">渝ICP备15000995号-3</a>
        </div>
    </div>
</div>