<div class="footer">
    <div class="container">
        <div class="row my-4">
            <div class="col-md-12">
                <h5 class="text-muted">链接</h5>
                <a href="https://netnr.top">netnr.top</a>
                <a href="https://zme.ink">zme.ink</a>
                <a href="https://uuid.fun" title="一个基于Git的书签托管">uuid.fun</a>
                <a target="_blank" href="https://www.jscss.cc/">前端笔记</a>
                <a target="_blank" href="https://rf.netnr.com" title=".net后台框架">netnrf响应式框架</a>
                <a target="_blank" href="https://md.netnr.com" title="Markdown编辑器">netnrmd编辑器</a>
                <a target="_blank" href="https://nav.netnr.com">netnrnav导航</a>
                <a target="_blank" href="https://gs.netnr.com">GitStore图床</a>
                <a target="_blank" href="https://json.netnr.com">JSON编辑器</a>
                <a target="_blank" href="https://jz.netnr.com">Jz弹窗插件</a>
                <a target="_blank" href="https://emoji.netnr.com">Emoji表情</a>
                <a target="_blank" href="https://jcute.netnr.com">jCute脚本</a>
                <a target="_blank" href="https://kms.netnr.com" title="windows激活">KMS服务</a>
                <a target="_blank" href="https://proxy.netnr.com">跨域代理</a>
                <a target="_blank" href="https://ad.netnr.com">API文档</a>
                <a target="_blank" href="https://chat.netnr.com">Chat聊天</a>
                <a target="_blank" href="https://tiny.netnr.com">Squoosh图片压缩</a>
                <a target="_blank" href="https://v.netnr.com">VIP视频解析</a>
                <a target="_blank" href="https://fa.netnr.com" title="fa图标镜像">Font Awesome 图标</a>
            </div>
        </div>
        <div class="my-3">
            &copy; <a href="/">netnr</a>
            <a class="text-muted" href="http://www.miitbeian.gov.cn" target="_blank">
                <small>渝ICP备15000995号-3</small>
            </a>
        </div>
    </div>
</div>