<div style="max-width:640px;margin:50px auto;">
    <div style="border:1px solid #ddd;padding:40px;font-size:1.2rem;background-color:white;word-break:break-word">
        <div>&#39564;&#35777;&#20320;&#30340;&#37038;&#31665;&#65306;<b>@ToMail@</b></div>
        <hr />
        <a href="@VerifyLink@" style="border:1px solid green;display:inline-block;padding:10px 30px;color:white;background-color:green;text-decoration:none;border-radius:3px;">
            &#28857;&#20987;&#23436;&#25104;&#39564;&#35777;
        </a>
        <hr />
        <small>&#39564;&#35777;&#38142;&#25509;&#22320;&#22336;&#65306;<a href="@VerifyLink@">@VerifyLink@</a></small>
    </div>
    <h1 style="text-align:center">Netnr</h1>
</div>