@{
    ViewData["Title"] = "每日一记";
}

<link href="/css/tool/note.css" rel="stylesheet" asp-append-version="true" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 col-sm-4" id="divLeft" data-show="1">
                    <div class="note-list">
                        <div class="input-group" style="margin:10px;">
                            <input id="txtSearch" type="text" class="form-control" placeholder="搜索标题，支持拼音，回车" autocomplete="off">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="btnSearch">搜索</button>
                            </span>
                        </div>
                        <div id="noteTitle"></div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 d-none d-sm-block" id="divRight">
                    <div class="note-edit">
                        <div class="input-group" style="margin:10px;">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" id="btnNew">新建</button>
                            </span>
                            <input id="txtTitle" type="text" class="form-control" placeholder="标题： 记事标题， 回车写内容" autocomplete="off">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button" id="btnSave" name="0">保存</button>
                            </span>
                        </div>
                        <div style="height:1px;background-color:#009a61;"></div>
                        <div class="divContent">
                            <textarea id="txtContent" placeholder="@("内容： 想写点什么\r\n\r\n支持Tab键\r\nF8 插入时间\r\nCtrl + Enter 快捷保存")"></textarea>
                        </div>
                        <div id="notedetail">日期：<span id="spdate"></span> &nbsp; 共<strong id="snum">0</strong>个字</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/tool/note.js" asp-append-version="true"></script>