@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    @Html.Raw(Netnr.SharedApp.QuoteTo.Html("favicon"))

    <title>Storage</title>

</head>
<body>

</body>
</html>