@{
    ViewData["Title"] = "后台管理";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-outline-info btn-lg mr-4 my-3 py-3" href="/admin/write" target="_blank">
                <i class="fa fa-fw fa-2x fa-pencil"></i><div>文章管理</div>
            </a>
            <a class="btn btn-outline-secondary btn-lg mr-4 my-3 py-3" href="/admin/reply" target="_blank">
                <i class="fa fa-fw fa-2x fa-commenting-o"></i><div>回复管理</div>
            </a>
            <a class="btn btn-outline-primary btn-lg mr-4 my-3 py-3" href="/admin/log" target="_blank">
                <i class="fa fa-fw fa-2x fa-list-alt"></i><div>日志列表</div>
            </a>
            <a class="btn btn-outline-success btn-lg mr-4 my-3 py-3" href="/admin/logchart" target="_blank">
                <i class="fa fa-fw fa-2x fa-line-chart"></i><div>日志图表</div>
            </a>
            <a class="btn btn-outline-info btn-lg mr-4 my-3 py-3" href="/admin/keyvalues" target="_blank">
                <i class="fa fa-fw fa-2x fa-tags"></i><div>键值标签</div>
            </a>
        </div>
        <div class="col-md-12">
            <a class="btn btn-outline-primary btn-lg mr-4 my-3 py-3" href="/store/qqcos" target="_blank" title="腾讯">
                <i class="fa fa-fw fa-2x fa-qq"></i><div>COS</div>
            </a>
            <a class="btn btn-outline-primary btn-lg mr-4 my-3 py-3" href="/store/nenos" target="_blank" title="网易">
                <i class="fa fa-fw fa-2x fa-server"></i><div>NOS</div>
            </a>
            <a class="btn btn-outline-primary btn-lg mr-4 my-3 py-3" href="/store/qnkodo" target="_blank" title="七牛">
                <i class="fa fa-fw fa-2x fa-server"></i><div>KODO</div>
            </a>
        </div>
        <div class="col-md-12">
            <a class="btn btn-outline-success btn-lg mr-4 my-3 py-3" href="/swagger" target="_blank" title="接口">
                <i class="fa fa-fw fa-2x fa-plug"></i><div>API</div>
            </a>
        </div>
    </div>
</div>