/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    border-radius: 4px;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #28a745;
}

.ged {
    position: relative;
}

    .ged .efull-btn {
        position: absolute;
        top: 5px;
        right: 6px;
        color: #777;
        z-index: 201;
        cursor: pointer;
        font-size: 1.2em;
    }

        .ged .efull-btn:hover {
            color: green
        }

.ged-efull {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8)
}

.gn-header .card-header {
    padding: 5px 10px;
}

.gn-header .card-body {
    height: 480px;
    padding: 5px 0 0;
    border-bottom: 1px solid #ddd;
}

.editor-bottom-line {
    height: 1px;
    margin-top: 4px;
    background-color: #e0e0e0;
}

.gn-hint {
    margin-top: 0;
    color: #234766;
    padding: 40px 0;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 30%, #fff),linear-gradient(70deg, #e0f1ff 32%, #fffae3);
    border-bottom-color: #fff;
}

    .gn-hint h1 {
        margin: 0 0 10px;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
    }

.cp-header {
    background-color: #fafbfc;
    border-bottom: 1px solid #ddd;
}

.cp-viewcode .card-header, .gc-viewcode .card-header {
    padding: 5px 10px;
}

    .gc-viewcode .card-header .btn {
        padding: 0 5px;
    }

.gn-viewcode {
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #ddd;
}

    .gn-viewcode:hover {
        border-color: #0366d6;
    }

        .gn-viewcode:hover::after {
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            font-size: 12px;
            content: "View";
            padding: 2px 8px;
            background-color: #0366d6;
        }

/*lineNumber*/
.vcln {
    margin-bottom: 0 !important;
    overflow-x: auto !important;
}

    .vcln span {
        white-space: nowrap;
    }

    .vcln > span::before {
        min-width: 60px;
        font-size: 12px;
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        line-height: 19px;
        text-align: right;
        margin-left: -60px;
        white-space: nowrap;
        padding-right: 20px;
        display: inline-table;
        color: rgba(27,31,35,0.3);
        content: attr(data-linen);
    }

pre.card-body {
    padding: 3px 0;
    line-height: 19px;
}

.gn-viewcode {
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #ddd;
}

    .gn-viewcode:hover {
        border-color: #0366d6;
    }

        .gn-viewcode:hover::after {
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            font-size: 12px;
            content: "Double click to view";
            padding: 2px 8px;
            background-color: #0366d6;
        }

/*search*/
.txtsearch, .txtsearch:focus {
    color: white;
    background: #3f4347;
}

/*返回顶部*/
.totop {
    position: fixed;
    z-index: 2;
    right: 15px;
    bottom: 80px;
    height: 35px;
    font-size: 3em;
    padding: 0 8px;
    font-weight: 600;
    border-radius: 6px;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 1.42857143;
    color: #009a61 !important;
    text-decoration: none !important;
    background-color: rgba(217, 217, 217, .5);
    opacity: .4;
    filter: alpha(opacity=40);
    font-family: 'Microsoft YaHei';
}

    .totop:hover {
        color: white !important;
        background-color: #009a61;
    }